{% extends 'base.html.twig' %}

{% block title %}Car list{% endblock %}

{% block body %}

    <h1>List of cars in stock</h1>

    <a class="btn btn-primary float-end" href="{{ path('app_admin_car_new') }}">Add new Car</a>
    
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>NbSeats</th>
                <th>NbDoors</th>
                <th>Cost</th>
                <th>Category</th>
                <th></th>
              
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.name }}</td>
                <td>{{ car.nbSeats }}</td>
                <td>{{ car.nbDoors }}</td>
                <td>{{ car.cost }}</td>
                <td>{{ car.carCategory }}</td>
                <td>
                    <a class="btn btn-secondary float-end ms-3" href="{{ path('app_admin_car_show', {'id': car.id}) }}">show</a>
                    <a class="btn btn-warning float-end" href="{{ path('app_admin_car_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
