{% extends 'base.html.twig' %}

{% block title %}Car List
{% endblock %}

{% block body %}

	<h2>Cars currently in stock</h2>

	<div class="container mt-4">
		<div class="row">

			<div class="col-9">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Nb of seat</th>
							<th scope="col">Nb of Doors</th>
							<th scope="col">Cost</th>
							<th scope="col">Category</th>
						</tr>
					</thead>
					<tbody>
						{% for car in cars %}
							<tr>
								<td>{{car.name}}</td>
								<td>{{car.nbSeats}}</td>
								<td>{{car.nbDoors}}</td>
								<td>{{car.cost}}</td>
								<td>{{car.carCategory.name}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>


				<div class="pagination justify-content-center ">
					{{ knp_pagination_render(cars, 'base/pagination.html.twig') }}
				</div>
			</div>

      {{ include('car/_sidebar.html.twig') }}

		</div>
	</div>

{% endblock %}
